<!DOCTYPE html>
<html>
  
  <head>
    <link rel="icon" type="image/png" href="images/gclogo.png" sizes="32x32">
    <title>Aanmelden | OLVS</title>
    <link rel="stylesheet" href="../css/olvs.css?">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  
  <body>
    <div id="content">
      <div id="top">
      </div>
      <div id="header">
        <div id="logo">
            <div id="logopt1">
              <div id="logotitle">
                Oud-Leerling<br>Volg-Systeem
              </div>
              <div id="logopt4">
                <div id="logopt5">
                  <div id="logopt2">
                    <div id="logopt3">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div id="login">
        <div id="logintitle">
          <h2>
            Aanmelden
          </h2>
        </div>
        <div id="loginform">
          <form method="POST" enctype="application/x-www-form-urlencoded">
            <label for="username">Gebruikersnaam:</label><br>
            <input type="text" id="username" placeholder="Gebruikersnaam" name="username"><br>
            <label for="password">Wachtwoord:</label><br>
            <input type="password" id="password" placeholder="Wachtwoord" name="password"><br>
            <label for="reppassword">Herhaal wachtwoord:</label><br>
            <input type="password" id="reppassword" placeholder="Herhaal wachtwoord" name="passwordverify"><br>
            <button type="submit">Aanmelden</button>
          </form>
        </div>
      </div>
    </div>
  </body>
  
</html>