<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Test</title>
  </head>
  <body>
    <style>
      body {
        background-color: #121212;
        width: 100vw;
        height: 100vh;
        text-align: center;
        color: #fff;
        padding-top: 256px;
        font-size: 64px;
        font-family: sans-serif;
        overflow: hidden;
        box-sizing: border-box;
      }
    </style>
    This is a test.<br><br><i>Beat drops</i>
  </body>
</html>
